<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>preloading</title>
		<style>
			canvas {
				image-rendering: pixelated;
			}
		</style>
  </head>
  <body>
    <canvas></canvas>
  </body>
</html>

<script>
import {
	createDirector,
	createGame,
	defineEntity,
	loadAsset,
} from '../../src'
import { Canvas2dEntity, createCamera2d, createCanvas2d } from '../../src/plugins/canvas2d'
import { assets } from '../definitions'

const canvas2d = createCanvas2d({
	element: document.querySelector('canvas')!,
	resizeMode: 'fill',
})

const entity = defineEntity({
	...Canvas2dEntity,
})

const torao = createGame({
	plugins: [canvas2d],
})

const director = createDirector<{
	preload: never
	home: never
}>(torao)

director.scene('preload', {
	entity,
	enter(_context) {
		const list = [
			assets.coin,
			assets.pino,
			assets.cloud,
		]

		Promise.allSettled(
			list.map((asset) => {
				loadAsset(asset)
				return asset.use
			}),
		).then(() => {
			director.goTo('home')
		}).catch(console.error)
	},
})

director.scene('home', {
	entity,
	enter(context) {
		const { spawn } = context

		spawn('coin', {
			transform2d: entity.transform2d({
				position: { x: 50, y: 10 },
			}),
			sprite: entity.sprite({
				region: {
					width: 32,
					height: 32,
				},
				asset: assets.coin,
			}),
		})

		spawn('camera', createCamera2d())
	},
})

director.start('preload')
</script>
