<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>renderer2d</title>
		<style>
			canvas {
				image-rendering: pixelated;
			}
		</style>
  </head>
  <body>
    <canvas></canvas>
  </body>
</html>

<script>
import { createDirector, createGame, defineComponent } from '../../src'
import { canvas2d, Canvas2dEntity, createCamera2d } from '../../src/plugins/canvas2d'
import { assets } from '../definitions'

const Coin = defineComponent('coin', (value: true) => value)
const Square = defineComponent('square', (value: true) => value)

const entity = {
	...Canvas2dEntity,
	...Coin,
	...Square,
}

const director = createDirector<{
	home: never
}>()

const game = createGame({
	entity,
	canvas: {
		element: document.querySelector('canvas')!,
		resizeMode: 'fill',
	},
	director,
	plugins: [
		canvas2d,
	],
})

game.scene('home', {
	enter(context) {
		const { spawn } = context
		const size = 30

		assets.square.use.then((asset) => {
			const { value: context } = asset
			const { canvas } = context

			canvas.width = size
			canvas.height = size

			context.fillStyle = 'red'
			context.strokeStyle = 'black'
			context.fillRect(1, 1, size - 1, size - 1)
			context.strokeRect(1, 1, size - 1, size - 1)
		})

		spawn('square', {
			square: true,
			transform2D: entity.transform2D({
				position: { x: 10, y: 10 },
			}),
			sprite: entity.sprite({
				region: {
					width: size,
					height: size,
				},
				asset: assets.square,
			}),
		})

		spawn('coin', {
			square: true,
			transform2D: entity.transform2D({
				position: { x: 50, y: 10 },
			}),
			sprite: entity.sprite({
				region: {
					width: 32,
					height: 32,
				},
				asset: assets.coin,
			}),
		})

		spawn('camera', createCamera2d())
	},
})

game.start('home')
</script>
