<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>renderer2d</title>
		<style>
			canvas {
				image-rendering: pixelated;
			}
		</style>
  </head>
  <body>
    <canvas></canvas>
  </body>
</html>

<script>
import { AtlasType, createTexture } from '../../src'
import { Transform } from '../../src/components'
import { createComponent, createEntity, entryFrom } from '../../src/ecs'
import { createGame, start } from '../../src/game'
import { camera2D } from '../../src/prefabs'
import { renderer2d, Texture } from '../../src/renderers/renderer2d'
import { assets, textures } from '../definitions'

const Coin = createComponent({
	id: 'coin',
})
const Square = createComponent({
	id: 'square',
})

const { game, createScene } = createGame({
	canvas: {
		element: document.querySelector('canvas')!,
		resizeMode: 'fill',
	},
	assets,
	textures,
})

const home = createScene('home', (context) => {
	const { textures, assets } = context

	const size = 30
	assets.square.loader.onLoad((context) => {
		const { canvas } = context

		canvas.width = size
		canvas.height = size

		context.fillStyle = 'red'
		context.strokeStyle = 'black'
		context.fillRect(1, 1, size - 1, size - 1)
		context.strokeRect(1, 1, size - 1, size - 1)
	})

	const squareTexture = createTexture({
		atlas: {
			type: AtlasType.Single,
			region: {
				width: size,
				height: size,
			},
		},
		asset: assets.square,
	})

	const square = createEntity({
		id: 'square',
		components: [
			entryFrom(Square, {}),
			entryFrom(Transform, {
				position: { x: 10, y: 10 },
			}),
			entryFrom(Texture, squareTexture),
		],
	})

	const coin = createEntity({
		id: 'coin',
		components: [
			entryFrom(Coin, {}),
			entryFrom(Transform, {
				position: { x: 50, y: 10 },
			}),
			entryFrom(Texture, textures.coin),
		],
	})

	const camera = camera2D.create({
		id: 'camera',
	})

	return {
		entities: [square, coin, camera],
		systems: [
			...renderer2d.systems,
		],
	}
})

start(game, home)
</script>
