<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>snake</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				background-color: #f0f0f0;
				overflow: hidden;
			}
			canvas {
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		<canvas style="border: 1px solid black"></canvas>
	</body>
</html>

<script>
import type { Vec2D } from '../../src/vec'
import { createDirector, createGame, type InferWithComponent } from '../../src'
import { Velocity2D } from '../../src/components'
import { createSystem, defineComponent, defineQuery, SystemType } from '../../src/ecs'
import { Canvas2dEntity, createCamera2d, createCanvas2d, Transform2D } from '../../src/plugins/canvas2d'
import { createEnterExit, EnterExitEntity } from '../../src/plugins/enter-exit'
import { assets } from '../definitions'

const canvas2d = createCanvas2d({
	element: document.querySelector('canvas')!,
	resizeMode: 'fill',
})

const BorderBehavior = defineComponent('borderBehavior', (type: 'wrap' | 'die') => ({ type }))
const Grid = defineComponent('grid', (size: Vec2D) => ({ size }))
const Head = defineComponent('head', (position: Vec2D) => ({ position }))
const Direction = defineComponent('direction', (dir: DirectionType) => dir)
const PrevPosition = defineComponent('prevPosition', (position: Vec2D) => position)

type WithDirection = InferWithComponent<typeof Direction>

type TailArgs = {
	position: Vec2D
	direction: DirectionType
	follow: string
}

const Tail = defineComponent('tail', (args: TailArgs) => ({
	...args,
}))

const entity = {
	...Canvas2dEntity,
	...EnterExitEntity,
	...BorderBehavior,
	...Grid,
	...Head,
	...Tail,
	...Direction,
	...Velocity2D,
	...PrevPosition,
}


const INITIAL_SIZE = 4
const GRID_SIZE = 20
const CELL_SIZE = 10
const VELOCITY = 2

enum DirectionType {
	Up = 0,
	Down = 1,
	Left = 2,
	Right = 3,
}


const game = createGame({
	plugins: [canvas2d],
})

const director = createDirector<{
	home: never
}>(game)

const allHeads = defineQuery({
	id: 'all-heads',
	with: [
		Head,
		Transform2D,
		BorderBehavior,
		PrevPosition,
		Velocity2D,
		Direction,
	],
})

const allTails = defineQuery({
	id: 'all-tails',
	with: [Tail, Transform2D, PrevPosition],
})

const allGrids = defineQuery({
	id: 'all-grids',
	with: [
		Grid,
		Transform2D,
	],
})

const move = createSystem({
	id: 'move',
	type: SystemType.FixedUpdate,
	fn(args) {
		const { select } = args

		for (const item of select(allHeads)) {
			const { direction, velocity2D, head } = item

			switch (direction) {
				case DirectionType.Up:

					head.position.y -= velocity2D.y
					break
				case DirectionType.Down:
					head.position.y += velocity2D.y
					break
				case DirectionType.Left:
					head.position.x -= velocity2D.x
					break
				case DirectionType.Right:
					head.position.x += velocity2D.x
					break
			}
		}
	},
})

const snapToGrid = createSystem({
	id: 'snap-to-grid',
	type: SystemType.FixedUpdate,
	fn(args) {
		const { select } = args

		const offset = select(allGrids).first()!.transform2D.position

		for (const item of select(allHeads)) {
			const { transform2D, head, prevPosition } = item
			const position = transform2D.position

			const inGridX = head.position.x + offset.x
			const inGridY = head.position.y + offset.y

			const x = Math.round(inGridX / CELL_SIZE) * CELL_SIZE
			const y = Math.round(inGridY / CELL_SIZE) * CELL_SIZE

			if (x !== position.x || y !== position.y) {
				prevPosition.x = position.x
				prevPosition.y = position.y
				position.x = x
				position.y = y
			}
		}
	},
})

const borderBehavior = createSystem({
	id: 'border-behavior',
	type: SystemType.FixedUpdate,
	fn(args) {
		const { select } = args
		const { grid: gridValues } = select(allGrids).first()!

		const canvasSize = {
			x: gridValues.size.x * GRID_SIZE,
			y: gridValues.size.y * GRID_SIZE,
		}

		for (const item of select(allHeads)) {
			const { borderBehavior, head } = item
			const { position } = head

			if (borderBehavior.type === 'die') {
				if (position.x < 0 || position.x > canvasSize.x || position.y < 0 || position.y > canvasSize.y) {
					// console.log('die')
				}

				continue
			}

			if (position.x <= 0) {
				position.x = canvasSize.x - CELL_SIZE
			}
			else if (position.x > canvasSize.x - CELL_SIZE) {
				position.x = 0
			}

			if (position.y <= 0) {
				position.y = canvasSize.y - CELL_SIZE
			}
			else if (position.y > canvasSize.y - CELL_SIZE) {
				position.y = 0
			}
		}
	},
})

const followSystem = createSystem({
	id: 'follow',
	type: SystemType.FixedUpdate,
	fn(args) {
		const { select, getEntity } = args

		for (const item of select(allTails)) {
			const { tail: tailValues, transform2D, prevPosition } = item
			const { follow } = tailValues

			const followPrevPosition = getEntity(follow)?.prevPosition
			const position = transform2D.position

			if (followPrevPosition && (followPrevPosition.x !== position.x || followPrevPosition.y !== position.y)) {
				prevPosition.x = position.x
				prevPosition.y = position.y
				position.x = followPrevPosition!.x
				position.y = followPrevPosition!.y
			}
		}
	},
})

const enterExit = createEnterExit({
	enter: (context) => {
		function onKeyDown(event: KeyboardEvent) {
			const { select, update } = context

			for (const head of select(allHeads)) {
				const { direction } = head
				const newDirection = getNewDirection(head, event.key)
				if (newDirection !== direction) {
					update(head, 'direction', newDirection)
				}
			}
		}

		document.addEventListener('keydown', onKeyDown)

		return () => {
			document.removeEventListener('keydown', onKeyDown)
		}
	},
})

director.scene('home', {
	systems: [
		move,
		snapToGrid,
		borderBehavior,
		followSystem,
	],
	plugins: [
		enterExit.scene,
	],
	enter(context) {
		const { spawn } = context
		const strokeSize = 2
		const gridSize = GRID_SIZE * CELL_SIZE + strokeSize
		const gridSprite = entity.sprite({
			asset: assets.grid,
			region: {
				width: gridSize,
				height: gridSize,
			},
		})

		assets.grid.use.then((asset) => {
			const context = asset.value
			const { canvas } = context

			canvas.width = gridSize
			canvas.height = gridSize

			context.strokeStyle = 'red'
			context.strokeRect(1, 1, gridSize - strokeSize, gridSize - strokeSize)
		})

		const sprite = entity.sprite({
			asset: assets.square,
			region: {
				width: CELL_SIZE,
				height: CELL_SIZE,
			},
		})

		assets.square.use.then((asset) => {
			const { value: context } = asset
			const { canvas } = context

			canvas.width = CELL_SIZE
			canvas.height = CELL_SIZE

			context.fillStyle = 'green'
			context.fillRect(0, 0, CELL_SIZE, CELL_SIZE)
		})

		spawn('grid', {
			grid: entity.grid({ x: CELL_SIZE, y: CELL_SIZE }),
			transform2D: entity.transform2D({ position: { x: 20, y: 20 } }),
			sprite: gridSprite,
		})

		const startX = 80

		spawn('head', {
			head: entity.head({ x: startX, y: 20 }),
			borderBehavior: entity.borderBehavior('wrap'),
			velocity2D: { x: VELOCITY, y: VELOCITY },
			transform2D: entity.transform2D({
				position: { x: startX + CELL_SIZE, y: 30 },
			}),
			prevPosition: { x: startX, y: 30 },
			direction: DirectionType.Right,
			sprite,
		})

		let follow = 'head'

		for (let index = 0; index < INITIAL_SIZE; index++) {
			const currentId = `tail-${index}`
			spawn(currentId, {
				tail: {
					position: {
						x: startX - ((index + 1) * CELL_SIZE) + CELL_SIZE,
						y: 20,
					},
					direction: DirectionType.Right,
					follow,
				},
				transform2D: entity.transform2D({
					position: {
						x: startX - (index * CELL_SIZE),
						y: 30,
					},
				}),
				prevPosition: {
					x: startX - ((index - 1) * CELL_SIZE),
					y: 30,
				},
				sprite,
			})
			follow = currentId
		}

		spawn('camera', createCamera2d())
	},
})

function getNewDirection(entity: WithDirection, keydown: string): DirectionType {
	const { direction } = entity
	switch (keydown) {
		case 'ArrowUp':
			if (direction !== DirectionType.Down) {
				return DirectionType.Up
			}
			break
		case 'ArrowDown':
			if (direction !== DirectionType.Up) {
				return DirectionType.Down
			}
			break
		case 'ArrowLeft':
			if (direction !== DirectionType.Right) {
				return DirectionType.Left
			}
			break
		case 'ArrowRight':
			if (direction !== DirectionType.Left) {
				return DirectionType.Right
			}
			break
	}

	return direction
}

director.start('home')
</script>
